[Unit]
Description=PostgreSQL CRUD Example 
Documentation= simple API with Express and sequelize - bezkoder/node-js-postgresql-crud-example
After=network.target

[Service]
Environment=PORT=8080
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/demoapp/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target